<div class="form">
    <form [formGroup]="formUser" (ngSubmit)="send()">
    <div class="container nick">
        <label>
            Nombre:
        </label>
        <input type="text" formControlName="nick" class="form-control" placeholder="Nombre">
        <div class="alert" *ngIf="nick.errors?.['required'] && nick.touched" >
            Se necesita nombre.
        </div>
        <div class="alert" *ngIf="nick.errors?.['minlength']" >
            El nombre es muy corto.
        </div>
        <div class="alert" *ngIf="nick.errors?.['maxlength']" >
            El nombre es muy largo.
        </div>
    </div>
    <div class="container password">
        <label>
            Contraseña:
        </label>
        <input type="password" formControlName="password" class="form-control" placeholder="********">
        <div class="alert" *ngIf="password.errors?.['required'] && password.touched">
            Se necesita contraseña.
        </div>
        <div class="alert" *ngIf="password.errors?.['maxlength']">
            Contraseña demasiado larga.
        </div>
        <div class="alert" *ngIf="password.errors?.['minlength']">
            Contraseña demasiado corta.
        </div>
        <div class="alert" *ngIf="password.errors?.['pattern'] ">
            La contraseña necesita al menos una letra mayúscula y un número.
        </div>
    </div>
    <div class="container email">
        <label>
            Email:
        </label>
        <input type="email" formControlName="email" class="form-control" placeholder="nombre@ejemplo.com">
        <div class="alert" [hidden]="email.valid || email.untouched">
           <span *ngIf="email?.errors?.['required']">
                Se necesita email.
           </span>
           <span *ngIf="email?.errors?.['email']">
                El email tiene que ser válido.
           </span>
        </div>
    </div>
    <div class="container gender">
        <label>
            Género:
            <mat-radio-group formControlName="gender" aria-label="Select an option">
                <mat-radio-button value="1">Masculino</mat-radio-button>
                <mat-radio-button value="2">Femenino</mat-radio-button>
            </mat-radio-group>
        </label>
    </div>
    <div class="container description">
        <label>
            Descripción:
        </label>
        <input type="text" formControlName="description" class="form-control" placeholder="Descríbete.">
        <div class="alert" *ngIf="description.errors?.['required'] && description.touched" >
            Se necesita descripción.
        </div>
        <div class="alert" *ngIf="description.errors?.['minlength']" >
            La descripción es muy corta.
        </div>
        <div class="alert" *ngIf="description.errors?.['maxlength']" >
            La descripción es muy larga.
        </div>
    </div>
    <div class="container">
        <button mat-flat-button [disabled]="formUser.invalid" (click)="irTest()">
            Enviar
        </button>
    </div>
    </form>
</div>